In [1]:
import pandas as pd

In [2]:
df_exams = pd.read_csv("./Material/StudentsPerformance.csv")
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Value Counts

In [4]:
# Contar los elementos de la columna "gender"

# funcion len 
len(df_exams["gender"])

# metodo .count()
df_exams["gender"].count()

1000

In [5]:
# Contar los elementos "gender" por categoria

#Contar cada elemento que hay en una fila por categoria
df_exams["gender"].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [6]:
# Obtener la frecuencia relativa (Dividir todos los valores entre la suman )

df_exams["gender"].value_counts(normalize=True)
# Calcular el porcentaje (Conocido como frecuencia relativa)

female    0.518
male      0.482
Name: gender, dtype: float64

In [7]:
# Contar elementos de la columna "parental level of education " por categoria

df_exams["parental level of education"].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [8]:
# Obtener la frecuencia relativa y redondear a dos decimales
df_exams["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [9]:
# Obtener la frecuencia relativa y redondear a dos decimales CON DOS DECIMALES
df_exams["parental level of education"].value_counts(normalize=True).round(2)

some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: parental level of education, dtype: float64